body {
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

input {
  font-size: 1.5rem;
  margin: 1rem 0;
}

form{
  text-align: left;
}

label{
  font-size: 1rem;
}

.cal-btn {
  display: block !important;
  margin: 0 auto 1rem;
}

.back-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.play-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.container-fluid{
  text-align: center;
}

.calc {
  position: relative;
  background-color: #DDDDDD;
  margin: 1% 25%;
  border-radius: 10px;
  padding: 2% 5%;
}

.logo {
  width: 50%;
  height: auto;
}

@media (max-width: 730px){
  input{
    font-size: 1rem;
  }

  .back-btn {
    position: static;
    display: block;
    margin: 10px auto 5px ;
  }

  .play-btn {
    position: static;
    display: block;
    margin: 10px auto 5px ;
  }

}

@media (max-width: 1000px){

  .logo {
    width: 80%;
    height: auto;
  }
  
  .back-btn {
    position: static;
    display: block;
    margin: 10px auto 5px ;
  }

  .play-btn {
    position: static;
    display: block;
    margin: 10px auto 5px ;
  }

}



.net-profit-text{
  visibility: hidden;
}


.supportme{
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}



.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-close {
  float: right; 
}

.boldtext{
 font-weight: bold;
}